API_ID=20346025
API_HASH=d34558796860a173cb5c918968fe85a0
BOT_TOKEN=7395654013:AAGB8OahRkb5vzS3KAvXVe4ec-Y2Fe1g8Jk
LOGGER_ID="@dark_bot_log"
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7926944005
STRING_SESSION=BQE2dKkAueBVH8HaKDrq4jfnfxubMKzp7Jmo8coP-lY9e5futjkvevXDUBYYJXSYLKk-uM7jD3Y4r457fXPBWlPefN2m3KHxQ0tDk1IFIHYIuO6sJfsdJF4TMCkqfUKzQkQVrO9jlBvnnvxUjRrZV8LJduybFdH93Cq33WpNt8WrxPHnoGzE3rbqYc7GHRtZqw4BTyIDq8k9vjSsU7YMGpyBRr5QRdPRFJRmnYsNzr3gjblgVVevSrs_JPluyGiRqOVQWxZ-Oh8OOHKv697EfHt71MSGD7BV8qJTLFWemWoOKFq-ULBTUrXrbBFF1nSmtPjSR6Cz2oD-SxjR-aVaIumUcnzcxQAAAAHDEzCCAA
